<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="bg-white shadow-lg rounded-xl p-8 w-full max-w-md">
    <h2 class="text-2xl font-bold mb-6 text-gray-800 text-center">Admin Login</h2>

    <div class="space-y-4">
      <input
        type="email"
        placeholder="Email or Nickname"
        [(ngModel)]="identifier"
        class="w-full p-3 border rounded-lg focus:ring-2 focus:ring-teal-600 placeholder-gray-400 outline-none"
      />
      <input
        type="password"
        placeholder="Password"
        [(ngModel)]="password"
        class="w-full p-3 border rounded-lg focus:ring-2 focus:ring-teal-600 placeholder-gray-400 outline-none"
      />
      <button
        (click)="login()"
        [disabled]="loading"
        class="w-full bg-teal-800 hover:bg-teal-700 text-white py-3 rounded-lg"
      >
        @if(!loading){
        <span>Login</span>
        } @if(loading){
        <span class="flex justify-center items-center space-x-2">
          <svg
            class="animate-spin h-5 w-5 text-white"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <circle
              class="opacity-25"
              cx="12"
              cy="12"
              r="10"
              stroke="currentColor"
              stroke-width="4"
            ></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v8H4z"></path>
          </svg>
          <span>Logging in...</span>
        </span>
        }
      </button>
    </div>
  </div>
</div>
