
@import "tailwindcss";

/* You can add global styles to this file, and also import other style files */

:root{
    --primary-color: #107c8c;
    --primary-hover:#e8f4f5;
    --secondary-color: #364153;
    --third-color: #2d3f51;
}
a{
    text-decoration: none;
    color: var(--secondary-color);
}
body{
    background-color: #f8f8f8 !important;
    font-family: 'Roboto', sans-serif;
}
h1 , h2 , h3 , h4 , h5 , h6 {
    color: var(--secondary-color);
}
p , span {
    color: oklch(0.63 0.02 202.36);
}
.text-pro{
    color: var(--primary-color);
}
.text-pro-hover{
    color: var(--third-hover);
}
.text-pro-max{
    color: var(--secondary-color);
}

.bg-pro{
    background-color: var(--primary-color);
}
.bg-pro-hover:hover{
    background-color: var(--primary-hover);
}
.bg-pro-hover1{
    background-color: var(--primary-hover);
}
.bg-pro-max{
    background-color: var(--secondary-color);
}

.text-red1{
    color: #e74c3c;
}
.bg-red-hover:hover{
    background-color: #9c0d000e;
}
.text-blue1{
    color:#193cb8;
}
.bg-blue1{
    background-color: #dbeafe;
}

.bg-yellow1{
    background-color: #fef9c2;
}

.bg-green1{
    background-color: #dbfce7;
}
.text-yellow1{
    color:#894b44
}

.text-green1{
    color:#016630
}

.custom-toastr-clean {
  background: #ffffff !important;
  color: #333 !important;
  border-radius: 12px !important;
  border-top: 5px solid var(--primary-color); 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  padding: 14px 18px !important;
  font-family: 'Inter', sans-serif;
  display: block;
  align-items: center;
  gap: 12px;
}


.custom-toastr-clean .toast-title {
  font-weight: 700;
  font-size: 1rem;
  color: #111;
  margin-bottom: 4px;
}


.custom-toastr-clean .toast-message {
  font-size: 0.9rem;
  color: #444;
  opacity: 0.9;
}

.custom-toastr-clean .toast-close-button {
  color:var(--primary-color) !important;
  opacity: 0.8;
  font-size: 18px;
  transition: 0.3s ease;
}

.custom-toastr-clean .toast-close-button:hover {
  transform: scale(1.3);
  opacity: 1;
}

/* ✅ شريط التقدم */
.toast-progress {
  background-color:var(--primary-color) !important;
  height: 4px !important;
  border-radius: 0 0 10px 10px;
}
























@media (min-width:1020px){
    .md-hidden{
        display: none !important;
    }
}